<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="form_main">
          <h4 class="heading"><strong><%= t "request.heading" %></strong>
            <%= t "request.strong" %><span></span>
          </h4>
          <div class="form">
            <%= form_for @request do |f| %>
              <%= render "shared/error_messages", object: @request %>
              <%= f.text_field :title, required: "",
                placeholder: t("request.input_title"), class: "txt" %>
              <%= f.text_area :content, placeholder: t("request.input_content"),
                class: "txt_3" %>
              <%= f.submit t("request.submit"), class: "txt2" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p><%= t "check_login" %> <%= link_to t("login"), login_path %></p>
<% end %>
